.sidenav {
  height: 100%; 
  width: 300px; 
  position: fixed;  
  z-index: 1; 
  top: 0;
  left: 0;
  background-color: rgba(21, 242, 21, 0.2);
  overflow-x: hidden;
  padding-top: 20px;
}
.page-links {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  text-align: left;
  margin-left: 15px;
  font-size: 20px;
  margin-top: 10px;
}
.page-links:hover {
  color: black;
}
.profile-pic {
  width: 150px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
  border-radius: 50%;
  margin-bottom: 10px;
}
.main {
  margin-left: 300px;
  padding: 0px 20px;
}
.title {
  text-align: center;
  font-size: 30px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 10px;
  margin-top: 0px;
  color: black;
}
.title-description {
  text-align: center;
  padding: 0px;
  margin: 0px;
  color: black;
  margin-bottom: 50px;
}
a {
  text-decoration: none;
}