
.pageOne .fireWorks {
    width: 100vw;
    display: inline-block;
    
}

.pageOne h1 {
    color: white;
    position: absolute;
    left: 35%;
    top: 55%;

}
.pageOne a {
    color: white;
    background-color: red;
    text-decoration: none;
}
.pageTwo a {
    color: red;
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
}
.collaborations {
    width: 300px;
    border: 5px solid black;
    padding: 20px;
    margin: 20px;
    text-align: center;
}
.freelance {
    width: 300px;
    border: 5px solid black;
    padding: 20px;
    margin: 20px;
    text-align: center;
}
.personal {
    width: 300px;
    border: 5px solid black;
    padding: 20px;
    margin: 20px;
    text-align: center;
}
.box {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
}